@use '../abstracts/' as *;
@use '../base/' as *;

.accordion {
  &__item {
    border-bottom: 2px solid var(--blue-100);
  }

  &__question {
    & button {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      background-color: transparent;
      cursor: pointer;

      &.show {
        color: var(--blue-900);
        font-weight: 700;
      }

      & img.show {
        transform: rotate(180deg);
      }
    }
  }

  &__collapse {
    width: 90%;
    text-align: justify;

    P {
      height: 0;
      overflow: hidden;
      transition: height 0.7s ease-in-out;
    }
  }
}
