@use '../abstracts/' as *;
@use '../base/' as *;

.card {
  position: relative;
  width: 90%;
  max-width: em(450);
  background-color: #fff;
  background-image: url('../images/bg-pattern-mobile.svg');
  background-repeat: no-repeat;
  background-size: rem(240);
  background-position: center rem(-5);
  border-radius: rem(20);

  &-img {
    margin-bottom: rem(130);

    &__mobile img {
      position: absolute;
      top: rem(-85);
      left: 50%;
      transform: translateX(-50%);
      width: rem(190);
      @media (min-width: em(300)) {
        top: rem(-105);
        width: rem(230);
      }
    }

    &__desktop {
      display: none;
    }
  }

  &-body {
    padding-inline: rem(20);
    padding-bottom: rem(40);

    & h1 {
      text-align: center;
    }
  }
}
