@use '../abstracts/' as *;
@use 'root' as *;

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding-top: 10rem;
  background: linear-gradient(
    to bottom,
    var(--gradient-top),
    var(--gradient-bottom)
  );
  @include breakpoint(large) {
    padding-top: 20px;
  }
}
