@use '../abstracts/' as *;
@use 'root' as *;

body {
  font-family: var(--ff-primary);
  font-size: $fs-xs;
  font-weight: var(--fw-400);
  color: var(--blue-400);
}

h1 {
  font-size: rem(25);
  font-weight: 700;
  color: var(--blue-900);
  @media (min-width: em(340)) {
    font-size: rem(35);
  }
}

h2 button {
  font-size: rem(14);
  font-family: inherit;
  color: inherit;
}
